<!-- results.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Simulator Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Simulator Results</h1>
    <!-- Display the simulation results here -->
 <table class="table table-bordered  table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Time Range</th>
            <th>Eload (kWh)</th>
            <th>Epvg (kWh)</th>
            <th>Epvg-Inveter (kWh) </th>
            <th>Enet (kWh)</th>
            <th>Esurplus (kWh)</th>
            <th>BATT-Inverter (kWh)</th>
            <th>Ebmg (kWh)</th>
            <th>BMGstatus</th>
            <th>Bmg Surplus (kWh) </th>
            <th>BATT-LEFT (kWh)</th>
            <th>BATT_SOC (%)</th>
            <th>Eunmet (kWh)</th>
            <th>Esink (kWh)</th>
            <th>Cost (₦/kWh) </th>

        </tr>
    </thead>
    <tbody>
        {% for row in results %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

    <h2> If you wish to visualize </h2>
    <form action="/visualize" method="POST">
        <input type="submit" value="Visualize">
    </form>

</body>
</html>

