<!-- results.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Simulator Results</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Simulator Results</h1>
    <!-- Display the simulation results here -->
 <table class="table-bordered  table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Time</th>
            <th>Eload</th>
            <th>Epvg</th>
            <th>EpvgI</th>
            <th>Enet</th>
            <th>Esur</th>
            <th>BAT-I</th>
            <th>BA-L</th>
            <th>BA_SOC</th>
            <th>Ebmg</th>
            <th>BMGS</th>
            <th>Eunm</th>
            <th>Esi</th>
            <th>Cost</th>
            <!-- Add more table columns as needed -->
        </tr>
    </thead>
    <tbody>
        {% for row in results %}
        <tr>
            {% for value in row %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

</body>
</html>
